<div id="main-container">
  <div id="filter-container" class="filter-container">
    <div id="filter-bar" class="filter-bar">
      <div class="filter-headline">Patients List</div>
      <div id="filter-wrapper" class="filter-wrapper">
        <div id="filter" class="sort-and-filter">
          <button (click)="this.toggleFilterOptions()">
            <fa-icon *ngIf="filterOptionsOpen" [icon]="chevronUpIcon">
            </fa-icon>
            <fa-icon *ngIf="!filterOptionsOpen" [icon]="chevronDownIcon">
            </fa-icon>
            Filtered by
            '{{repliesFilterChecked && ageFilterChecked ? 'Various' : repliesFilterChecked ? 'Replies' : ageFilterChecked ? 'Age' : 'None'}}''
          </button>
          <fa-icon (click)="this.deactivateFilter()"
            [ngStyle]="this.ageFilterChecked || this.repliesFilterChecked ? {'color': 'blue'}:{'color': 'grey'}"
            [icon]="filterIcon"></fa-icon>

          <div class="options-wrapper" *ngIf="filterOptionsOpen">
            <div class="options" *ngFor="let option of this.filterOptions">
              <div class="option-name"><input style="width:auto; margin-right: 0.6rem;" type="checkbox"
                  (change)="this.handleCheckBoxChange(option.key, $event)" [(ngModel)]="option.key === 'age' ?
                  ageFilterChecked : repliesFilterChecked" />{{option.name}}</div>
              <div>min:
                <input style="width: 2.75rem;" type="number" name="minFilter"
                  [min]="option.key === 'age' ? ageMin : repliesMin" [max]="option.key === 'age' ? ageMax : repliesMax"
                  (change)="this.handleMinChange(option.key, $event)"
                  [(ngModel)]="option.key === 'age' ? inputAgeMin : inputRepliesMin" />
                max:
                <input style="width: 2.75rem;" type="number" name="maxFilter"
                  [min]="option.key === 'age' ? ageMin : repliesMin" [max]="option.key === 'age' ? ageMax : repliesMax"
                  (change)="this.handleMaxChange(option.key,
                  $event)" [(ngModel)]="option.key === 'age' ? inputAgeMax :
                  inputRepliesMax" />
              </div>
            </div>
          </div>
        </div>
        <div id="sort" class="sort-and-filter" [ngStyle]="this.sortingActive?{'color':'blue'}:{'color':'grey'}">
          <button (click)="this.toggleSortingOptions()">
            <fa-icon *ngIf="sortingOptionsOpen" [icon]="chevronUpIcon">
            </fa-icon>
            <fa-icon *ngIf="!sortingOptionsOpen" [icon]="chevronDownIcon">
            </fa-icon>
            Sorted by '{{selectedSortingOption}}'
          </button>
          <fa-icon *ngIf="!sortingDescending" [icon]="sortingUpIcon" (click)="this.toggleSortingMode()"></fa-icon>
          <fa-icon *ngIf="sortingDescending" [icon]="sortingDownIcon" (click)="this.toggleSortingMode()"></fa-icon>
          <div class="options-wrapper" *ngIf="sortingOptionsOpen">
            <div class="options" *ngFor="let option of this.sortingOptions"
              (click)="this.selectSortingOption(option.key)">
              {{option.name}}</div>
          </div>
        </div>

      </div>
      </div>
      </div>
      <div id="patients-container">
        <div *ngFor="let patient of dataService.patientsList" class="patient-element">
          <div class="patient-name">
            {{patient.name}}
          </div>
          <div>{{patient.age}} years old</div>
          <div class="patient-offers-outer">
            <div class="patient-offers-inner">
              <circle-progress [percent]="(100/(patient.acceptedOffers+patient.canceledOffers))*patient.acceptedOffers"
                [radius]="20" [outerStrokeWidth]="5" [innerStrokeWidth]="5" [outerStrokeColor]="'green'"
                [innerStrokeColor]="'red'" [animation]="false" [backgroundGradient]=false backgroundColor=transparent
                [space]="-5" [showTitle]="true" [showSubtitle]="false" titleFontSize=14>
              </circle-progress>
              <div>{{patient.acceptedOffers}}/{{patient.acceptedOffers+patient.canceledOffers}}
              </div>
              <div>Accepted Offers</div>
            </div>
            <div class="patient-reply-time">
              <circle-progress [percent]="(100/(repliesMax))*patient.averageReplyTime" [radius]="20"
                [outerStrokeWidth]="5" [innerStrokeWidth]="5" [outerStrokeColor]="(100/(repliesMax))*patient.averageReplyTime >= 75 ? 'green' :
                (100/(repliesMax))*patient.averageReplyTime <= 25 ? 'red' : '#e3cb32'" [innerStrokeColor]="'#eaeaeb'"
                [animation]="false" [backgroundGradient]=false backgroundColor=transparent [space]="-5"
                [showTitle]="false" [showSubtitle]="false" [showUnits]="false">
              </circle-progress>
              <div>{{patient.averageReplyTime}} seconds</div>
              <div>Average Reply Time</div>
            </div>
          </div>
</div>
  </div>

</div>